[core]
	editor = vim
	pager = less -+$LESS -RS
[user]
	name = Ali Mir
	email = ali.ahmed.mir@gmail.com
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[init]
	defaultBranch = main
